﻿
@{
    ViewData["Title"] = "Index";
}
<button class="p-2 bg-info-subtle text-info-emphasis mt-6 rounded-xl " data-bs-toggle="modal" data-bs-target="#myModal">
    Guardar Vehículo
</button>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVehiculoLabel">Vehículo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmGuardarVehiculo" class="row g-3 needs-validation" method="POST" novalidate>
                    <!-- Campo oculto para el ID -->
                    <input type="hidden" id="id" name="id">

                    <!-- Marca -->
                    <div class="col-md-6">
                        <label for="Marca" class="form-label">Marca</label>
                        <input type="text" class="form-control" id="marca" name="marca" maxlength="50" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <!-- Modelo -->
                    <div class="col-md-6">
                        <label for="Modelo" class="form-label">Modelo</label>
                        <input type="text" class="form-control" id="modelo" name="modelo" maxlength="50" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <!-- Año -->
                    <div class="col-md-4">
                        <label for="Año" class="form-label">Año</label>
                        <input type="number" class="form-control" id="año" name="año" min="1900" max="2099" required>
                        <div class="invalid-feedback">Ingrese un año válido.</div>
                    </div>

                    <!-- Precio -->
                    <div class="col-md-4">
                        <label for="Precio" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="precio" name="precio" step="0.01" required>
                        <div class="invalid-feedback">Ingrese un precio válido.</div>
                    </div>

                    <!-- Estado -->
                    <div class="col-md-4">
                        <label for="Placa" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="estado" name="estado" required>
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <!-- Botón Guardar -->
                    <div class="col-12">
                        <button type="button" id="btnGuardar" onclick="GuardarVehiculo()">Guardar Vehiculo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="divTable" class="mt-4"></div>

<script>
    function cerrarModalVehiculo() {
        const modal = bootstrap.Modal.getInstance(document.getElementById('myModal'));
        modal.hide();
    }
</script>



<script src="~/js/generic.js"></script>
<script src="~/js/vehiculos.js"></script>