@{
    ViewData["Title"] = "Index";
}


<h1 class="mb-4 text-center">Tipos de Medicamento</h1>
<div id="divTable" class="mt-4">
</div>

<script src="~/js/generic.js"></script>
<script src="~/js/cliente.js"></script>