<!DOCTYPE html>
<html lang="en">
<head>  
   <meta charset="utf-8" />  
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
   <title>@ViewData["Title"] - AlquilerVehiculos</title>  
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />  
   <link rel="stylesheet" href="~/AlquilerVehiculos.styles.css" asp-append-version="true" />  
   <link rel="stylesheet" href="~/css/encabezado.css" />  
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/datedreamer/0.2.1/datedreamer.min.js"></script>
    <link rel="stylesheet" href="~/tailwindcss/tailwind.min.css" />
</head>
<body style="background-color:#DDFFF4">
    <header>
        <h1>ALQUILER DE VEICULO</h1>
        <a id="open-menu" class="toggle-menu" aria-role="button">
            <i class="fa fa-bars"></i>
        </a>
    </header>
    <nav id="menu">
        <a id="close-menu" class="toggle-menu" aria-role="button">
            <i class="fa fa-times"></i>
        </a>
        <ul class="lista" style="padding-left: 0px;">
            <li>
                <a class="lnk-menu" id="toggle-admin">
                    <i class="fa-solid fa-briefcase"></i> Administración
                </a>
                <ul class="submenu" id="admin-submenu">
                    <li><a class="lnk-menu" asp-controller="Clientes" asp-action="Index"><i class="fa-solid fa-users"></i> Clientes</a></li>
                    <li><a class="lnk-menu" asp-controller="Empleados" asp-action="Index"><i class="fa-solid fa-user-tie"></i> Empleados</a></li>
                    <li><a class="lnk-menu" asp-controller="Pago" asp-action="Index"><i class="fa-solid fa-dollar-sign"></i> Pagos</a></li>
                    <li><a class="lnk-menu" asp-controller="Reservas" asp-action="Index"><i class="fa-solid fa-handshake"></i> Reserva</a></li>
                </ul>
            </li>
            <li><a class="lnk-menu" asp-controller="Vehiculos" asp-action="Index"><i class="fa-solid fa-car"></i> Vehículos</a></li>
            <li><a class="lnk-menu" asp-controller="Alquiler" asp-action="Index"><i class="fa-solid fa-key"></i> Alquiler</a></li>
        </ul>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AlquilerVehiculos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script>
       
        document.getElementById('open-menu').addEventListener('click', function () {
            document.getElementById('menu').classList.add('open');
             document.getElementById('close-menu').style.display="block"

        });

        document.getElementById('close-menu').addEventListener('click', function () {
            document.getElementById('menu').classList.remove('open');
             document.getElementById('close-menu').style.display="none"
        });

        document.getElementById('toggle-admin').addEventListener('click', function () {
            const submenu = document.getElementById('admin-submenu');
            submenu.classList.toggle('open');
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
